nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    height: 40px;
    align-items: center;
}
  
nav ul li {
    list-style-type: none;
    margin: 10px;
}

nav ul a {
    text-decoration: none;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#logo {
    height: 40px;
    width: 40px;
    margin-left: 5px;
}

.description {
    padding: 10px;
    margin: 40px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

#joined-img {
    width: 450px;
    height: 350px;
}

#events {
    list-style-type: none;
    margin-bottom: 20px;
}

#event-list {
    padding-left: 0;
}

#event-name {
    font-weight: bolder;
}